@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
  <h3>About us</h3>
  <strong>What Timelyessay.com Offers</strong>
  
  <p class="text-justify">What you ask is what you get! We are a 100% here to attend to every student or professional 

  struggling with the completion of their content, paper or assignments, all your requirements 

  and specifications well put into consideration.</p>
  
  <p class="text-justify">We do not discriminate on whatever basis, be it 

  gender, age, race or religion, this shows that all clients are of equal importance. We make the 

  ordering of a paper painless for our customers and in just few steps any individual can be on 

  the path of receiving a remarkable paper written with the specified instructions.</p> 
  
   <p class="text-justify">With our well 

  versed team of writers who have enthusiastically devoted their lives to writing, formatting, 

  editing and revising academic papers of varying intricacies, you have nothing to worry.</p> 
  
  <p class="text-justify">So no 

  matter how challenging or perplexing your instructions from the tutors may seem, or how tight 

  the set deadlines seem, our company is here to ensure that you get it all.</p>
  
  <strong>Our Foundation</strong>

  <p class="text-justify"><strong>Timelyessay.com</strong> strives to give on-line assistance to students, professions ,and any other 

  writers the support and assistance they need in their academic writing. We aspire to be the 

  best amongst all other companies by providing outstanding services to all and sundry in the 

  best way possible.</p>
  
  <strong>Our Culture</strong>

  <p class="text-justify">Our company’s culture reflects that of a family. We like creating a good customer relationship 

  with clients by seeing to it that they are ever contented so that we attain their loyalty. The 

  same applies to our staff; we create a healthy working environment for them and ensure 

  proper remuneration so that they can deliver. We hold frequent meetings to address arising 

  issue so that we can attend to our clients the best way possible. We work together as a team 

  and share our knowledge as we work on your papers, two heads are better than one, so they 

  say.</p>
  
  <div>
    <p align="center"> <a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning col-lg-12">Write My Essay</a> </p>
  </div>
    
  
}