@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){

  <strong>Admision Services</strong>
  
  <p class="text-justify">Do you need a persuasive paper? Our company can save you a ton of time and the 

  headache. Deciding what to including when writing a personal statement, scholarship essay or admission letter can seem an 

  enormous task and confusing while figuring out what to say.</p>
  
  <p class="text-justify">A comprehensive personal 

  statement describes an individual systematically. In some cases, you might be required to 

  answer some detailed questions that have precise answers. Just contemplate: - You will use 

  professional services of our writers with huge experience in writing exceptional personal 

  statement. They exactly know how to word each phrase to leave a fantastic impression. With our service, we assist you with rich ideas to include in your personal statement</p>
  
  <p class="text-justify">Our writing services are 

  not expensive as other individuals might think; we are affordable and reasonable to fit your 

  budget than most of other companies offering the same service. Furthermore, your work can 

  be edited to match your needs. All the papers are usually written from scratch.
  
  They are unique and thrilling and exclusive to your needs or requirements.</>
  
  <p class="text-justify">Our ordering process is simple. We can always meet your tight deadlines; even overnight writing 

  to assist you obtains the admission services or paper you are looking.</p>
  
  
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
  </div>
  
  
}