@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){

  <strong>Book report</strong>

  <p class="text-justify">Book reports demonstrate if you well understood a book and to tell what you think about it. You need to unravel what 

  the book under review is about and must actually express the theme of the book. A book 

  report should include an introduction, a body, and a conclusion . The body enlists the 

  description of the main parts of a story: theme, plot, setting, and characters can also give your 

  opinion about the book. Professors/tutors most often assign book reports to assess the 

  analytical and understanding of the students.</p> 
  
  <p class="text-justify">While writing a book report, analytical and 

  accuracy strands must be expressed and strong personal response in depicting your own 

  view. Therefore, the students should exhibit the describing skills on what is going on on a 

  given page, analyze how the author tries to achieve a purpose and express their individual 

  reaction.</p>
  
  <p class="text-justify">Book reports serve as a summarization, and intelligent critique of the scholarly work 

  read. It must have original writing, excellent thought, and an attentive analysis. Most students 

  will not have enough time to get the book reports on paper. Do not worry; some many 

  individuals have already delegated their work to our company since we offer thrilling book 

  report services. Our skilled writers methodically read every chapter and write down the high 

  point about the author's arguments and compare with other most recent works that influence 

  the book. Do not deal with this tiresome work, we will ensure you turn in your book report in a 

  timely manner.</p>
  
   <p class="text-justify">No matter the subject of study, our experts can get you exceptional work that 

  can amaze you.</p>
  
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
  </div>
}