@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){

  <strong>Coursework</strong>
    
      <p class="text-justify">Coursework is the work assigned to and done by a student during a course study, usually it is 

      evaluated as part of the student’s grade in the course. It requires you to undertake an 

      assignment in bigger volume on the knowledge acquired while studying a given section or 

      chapter. The workload can become confusing, encroaching and demanding when you have 

      multiple activities at hand. Many students struggle to ensure they meet strict standards and 

      specifications set by their university. At our company, we have assisted many clients with 

      coursework assignments and from time to time they come back to us since they are thrilled 

      with our service.</p> 
      
       <p class="text-justify">Our professional coursework writing can be resourceful to you. We are 

      affordable and with proven experience. Our writers are specialized in different fields so we will 

      deliver quality coursework for any are. We are aware how vital the coursework is within your 

      advancement in your field of study.</p> 
      
      <p class="text-justify">At Timelyessay.com we understand that coursework is a 

      multifaceted task, and we recognize you need the best. We offer peculiar and outstanding 

      professional paper. Our company makes every effort to meet your specifications and 

      develops a coursework that meets highest standards set by your learning institutions.</p>
    
      <div>
	<p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
      </div>
}