@(loginForm: Form[web.Application.Login])
@main("Timely Essay | Disclaimer")(loginForm){

    <h3>Timelyessay.com Disclaimer</h3> 
    
    <strong>The rightful use of the service we offer</strong>

    <p class="text-justify">The company is providing content writing services such as term papers, essays, dissertations, creative writing and research papers for uses limited to proffesional and academic studying and reference. Therefore, the content should not be subjected to uses that may amount to academic cheating. The content provided is well cited and references given where required. The company, therefore, does not give consent to its clients to copy the entire or portion of this content without proper references. The company will also not be responsible to any third party for any of its content used without permission. It, therefore, means that, our client, who buys the piece of work from our website, is entirely responsible for the disciplinary actions resulting from the wrongful use of the pieces of work, that herein referred to as 'Product'</p>

    <strong>Website availability</strong>

    <p class="text-justify">Although the company shall ensure that this website is all time available for its clients, the company will never be answerable, if, for whatever reason, the website is down for any amount of time.</p>

    <p class="text-justify">The company, at any time and without prior notice to its clients, may bring to an end the access to this website.</p>
}