@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){

  <h3>Dissertation</h3>
    
    <a name="dissertation"></a>
    <strong>Dissertation (chapters: Abstract, Introduction, literature review,methodology and discussion)</strong>
    <p class="text-justify">A dissertation is a document submitted in support of a candidature for a degree or 

    professional qualification, presenting the author's research and findings. Essay writing is quite 

    difficult especially for persons who have never written any formal documents before. The 

    secret to writing a good essay is planning ahead and most importantly perseverance.</p>
    

    <p class="text-justify">Dissertations are quite lengthy and require critical thinking; they need to be substantial and 

    original. The number of graduate students that complete their dissertations is less than 

    expected. Many students do not finish their doctoral program (half of them). They are usually 

    very long leaflets, and the sooner you get the process started the better.</p>
    
    <p class="text-justify">With our professional 

    writers, your dissertation that is an ultimate point to your doctoral research, will be written by a 

    skilled and experienced individual who precisely knows what it takes to achieve an 

    outstanding dissertation. Having a problem with the introduction, abstract, methodology, 

    results, discussion, literature review or conclusion of your essay? Our writers have what it 

    takes to deliver an impressive topic with an introduction that conclusively depicts your 

    research area systematically.</p>
    
    <div>
      <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
    </div>
    
     <a name="thesis"></a>
    <strong>Thesis Paper</strong>
    <p class="text-justify">Thesis is a document submitted in support of candidature for an academic degree or 

    professional qualification presenting the author's research and findings . An effective 

    argument should answer the, "how", "what", and "so what." It should be a statement that 

    represents an argument, yet is refutable by the reader.</p> 
    
    <p class="text-justify">A thesis paper is paramount for your 

    accomplishment. It demonstrates an individual's ability to utilize acquired knowledge learned 

    from the field you are supposed to work . In many occasions, thesis statements are built for 

    dissertations but in some universities or colleges, they often refer to them as dissertation. 

    Thesis writing demands profound research and deepest knowledge on the subject. It must be 

    written in an appropriate style and should have a perfect composition.</p> 
    
    <p class="text-justify">A thesis must present 

    the fundamental ideas and the matter of the entire research made within the dissertation. A 

    good argument should also have an adequate review of the relevant literature. You should 

    also pay close attention to other issues such as proofreading the thesis carefully, to reduce 

    typographical, punctuation and grammatical errors to a minimum.</p> 
    
    <p class="text-justify">Our company truly 

    understands that students will find it hard to organize the whole writing process efficiently or 

    even make a good start for the thesis proposal. That is why we offer expert thesis writing 

    service to assist MBA, MA, Undergraduate and Ph. D. students make successful academic 

    transition. Timelyessay.com has an impeccable reputation due to our perfect organization and 

    profound research to deliver impressive quality thesis papers.</p> 
    
    <p class="text-justify">Our prosperity relies on the 

    professional and creative writers with top certified editors who have graduated from 

    prestigious universities.</p>
    
    <div>
      <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
    </div>
    
    <a name="dissertation-proposal"></a>
    <strong>Dissertation Proposal</strong>
    <p class="text-justify">A dissertation proposal may take a similar format of a dissertation but it is written as a copy 

    manuscript as opposed to a final dissertation. A dissertation proposal is basically a 

    description of the following: what your dissertation is about, probable questions that you’re 

    going to be examining, some reference to the theoretical background, research methods 

    you're going to be using (empirical or non-empirical), potential outcomes of the study. At this 

    stage, the future tense is employed since the work is yet to be done.</p>
    
    <p class="text-justify">Our company guarantees the future dissertation by developing a proposal that highlights the imperative 

    points of your essay. Our company is dedicated to ensuring you secure the best and 

    competent writer for your dissertation proposal. We deal with urgent ordered dissertation 

    proposal and guarantee splendid quality that you pay for at reasonable cost. Several students 

    have used our writing services and have never been frustrated with the kind of satisfactory 

    work we deliver. Our writers adeptly plan your job and allow you to present a systematic idea.</p> 

    <p class="text-justify">A dissertation proposal can be rejected by your supervisors/tutors when you lack opposite 

    abilities in developing a paper that meet the requirements of your learning institution or 

    university. For the proposal to be accepted, you should find an up-front way to express your 

    ideas.</p>
    
    <div>
      <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
    </div>
    
      <a name="abstract"></a>
      <strong>Abstract</strong>  
      <p class="text-justify">The <u>Abstract</u> section usually describes what the study intends to prove and the 

      implications of the study. As a student, you will need to examine the thesis of the 

      paper, clarifying your thesis statement which is at the heart of writing a comprehensive 

      and proper dissertation. Therefore, it is important to find a competent writer to highlight 

      the central point of your essay within the abstract.</p>


      <a name="introduction"></a>
      <strong>Introduction</strong>
      <p class="text-justify">Our company offers you an opportunity to acquire unmatched <u>Introduction</u> section to 

      your dissertation. Our writers have the expertise to develop an extensive presentation 

      and can be changed through unlimited revisions to match your requirements. An 

      introduction is a fundamental section that provides an outline to your dissertation.</p>
      
      <a name="literature-review"></a>
      <strong>Literature Review</strong>
      <p class="text-justify">The <u>literature review</u> section is one of the most vital parts of a dissertation; feel free to 

      have our competent writers gather the information required to complete the literature 

      review. A proper literature review needs a dreadful researching and reading. After 

      gathering the materials, students will need to take notes before writing the literature 

      review. This chapter is quite substantial.</p>
      
      <p class="text-justify">Our company has a lot to offer. The literature 

      review would be authentic, original and crafted by our professional writers.</p>
      
      <a name="methodology"></a>
      <strong>Methodology</strong>
      <p class="text-justify">The methodology is an essential blueprint of why and how one collected the data and 

      sources and their significance within the paper. Unlike simple essays or research paper 

      that a student can get away with by using random articles or Internet Web Pages, the 

      dissertation methodology section is essential to enhance authenticity to the readers 

      that the finding are not arbitrarily produced but are relevant.</p> 
      
      <a name="discussion"></a>
      <strong>Discussion</strong>
      <p class="text-justify">In writing an admirable discussion, it is vital for you to realize that it is construed as 

      the most crucial part of a dissertation. One requires thinking careful and offer 

      concluding remarks about the research conducted. Ultimately, the discussion section 

      offer one a chance to drive home personal voice and expand on the interpretations that 

      have been left out in prior researches.</p>

      <p class="text-justify">Whatever the chapter you what done, you can fill our form and Timelyessay.com writing 

      service will have it completed for you.</p>

      <p class="text-justify">We would be delighted to help you finish your doctoral program in a timely manner.</p>
      
    <div>
      <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
    </div>
  
}