@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){

  <strong>Editing Services</strong>
  
  <p class="text-justfy">The editing process can involve correction, condensation, organization, and many other 

  modifications performed with an intention of producing a correct, consistent, accurate and 

  complete work. While Microsoft office, grammar programs and on line software catch many 

  grammatical and syntax mistakes/errors, they cannot satisfactorily address the potential 

  contextual and structural errors in your papers. Whether you are a novice or experienced 

  writer, it is a good idea to get your work edited by premier editing service. For that reason, our 

  company provides proficient experts who look over your job before you use it for you study or reference.</p>

  <p class="text-justfy">While <strong>Timelyessay.com</strong> started with writing services, we have transitioned to provide a wide 

  variety of other related services to meet the varying range of customer's needs. Therefore, we 

  offer a cutting edge editing services that have evolved over time because our company has 

  enormous experience, expertise, and knowledge. We have hired professional staff, writers 

  and competencies to proudly offer exceptional editing service to all students from different 

  levels around the world.</p>
  
  <p class="text-justfy">Our goal has always been to be the trusted provider of writing 

  services of all. Our vision is complete when we offer the necessary complimentary services to 

  paper.</p>
  
  <p class="text-justfy">Our competent editors have the talent of scrutinizing even the toughest papers. Editing 

  service will assist you fine -tune both your academic and professional work. It will also help 

  examine and improve the organization and formatting of documents. This also contributes to 

  guarantee that the all important message is communicated.</p>
  
  
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
  </div>
  
  
}