@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){

  <strong>Essay</strong>

  <p class="text-justify">Articles are scholarly pieces of writing giving the author's argument. Essay writing can be 

  quite challenging and time-consuming. It requires that not only one knows the format of 

  proper essay writing but also have the necessary content. The writer has to do some 

  exhaustive and extensive research so as to come up with as much content as possible. More 

  to that, the content has to be in the context.</p>
  
  <p class="text-justify">Whether argumentative, expository, persuasive or 

  analytical essays, relax because we are here to give you a hand. Without regard to the level, 

  whether it is high school, college or any level. We are here to make you a top scorer, with no 

  hassle on your side, by giving you quality content for your study. Our content can assist you write essays, which score high and still get time to attend to other activities and tasks 

  away from your studies such as sports and other extracurricular activities.</p>
  
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
  </div>

}