@(loginForm: Form[web.Application.Login])

@main("Timely Essay | Forgot my password")(loginForm){
      <form id="recover_password_form" name="recover_password_form" method="post" action="@controllers.web.routes.Application.recoverPassword()">		
	<div class="">							
	    <div class="row">									    
		<div class='col-sm-7'>
		    <div class="form-group">					
			<div class='input-group' id=''>
			    <span class="input-group-addon" id="sizing-addon1">Your Email</span>
			    <input type="text" value="" class="form-control input-sm" name ="recover_password_email" id="recover_password_email"/> 
			</div>								
		    </div>								
		</div>									
										    
		<div class='col-sm-5'>						
		    <div class="form-group">						
			<div id=''>				
			    <button type="submit" id="btn-recover-password" class="btn btn-sm btn-primary">
			      Submit email					
			    </button>	
			    <!--<span id="loading-gif-extend" class="hidden"><img src="@routes.Assets.at("images/loading.gif")"/>Submiting...</span> -->
			</div>						
		    </div>							
		</div>									    
	    </div>							
	</div>									
      </form>
}