@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
   <strong>Homework Help</strong>
   
   <p class="text-justify">Many students detest homework; they perceive it as a cause of their migraines and a sleep 

  deprivation. Homework can be hectic especially when you need time to rest and attend to 

  other activities. This is because one has to spend a long time looking for content. Some students come home tired from other extracurricular activities such as 

  sports and the thought of doing their homework feels like hell. The routine assignment may 

  seem less significant, but they also account for your final grade. </p>
  
   <p class="text-justify">Some students take 

  homework as less significant part of their studies and end up performing poorly repeatedly.  
  
  Some students dislike subject such as economics, 

  finance, statistics or sciences. Hence, undertaking homework for these subjects can be 

  tedious. However, our company offers a solution to your problem. We can help you to 

  alleviate the nuisance that routinely bothers you. You can get homework help that will give 

  you a peace of mind to concentrate on the relishing subjects and you can later go through it to 

  make sure you gain as much as you could have gained by doing it yourself.</p>
  
   <p class="text-justify">Our company 

  delivers high- quality papers in a wide range including lab reports, book reports, mathematics 

  problems, and essay to homework help. While our competent writers are busy doing your 

  homework, you can shift your focus to reading other courses. We do not only pay 

  attention to old homework help. <strong>Timelyessay.com</strong> can help you prepare a time-consuming 

  project that has been stressful and difficult to achieve. Our professionals can immediately get 

  the work done and ensure Grade A. </p>  
  
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
  </div>
}