@(message: String) 
@main("Timely Essay | For Quality Service"){
		<h2>Essay-Writing Services You Can Count On</h2>

		<p>Do you find it hard to find the time to write your essays? Do you lack confidence in your essay-writing skills? RushEssay.com is here to help you. Since 1997, we have been offering essay-writing services to students across the world. We have the widest range of academic services in the industry. No matter what it is that you need written, count on our team of professional essay writers to help.

		Why Choose Us?

		Did you know that 92% of our first-time customers return to us and use our custom essay-writing services again? We are very proud to have such a high rate of repeat, satisfied customers.
		</p>

		<h2>Why Choose Us?</h2>

		<p>Did you know that 92% of our first-time customers return to us and use our custom essay-writing services again? We are very proud to have such a high rate of repeat, satisfied customers.</p>

		<h2>Service That Cannot Be Beat</h2>

		<p>Need more reasons to use RushEssay.com's writing services? We have plenty of them!</p>

		<h2>100% Authentic Papers</h2>

		<p>When you need writing services, you want to make sure you are getting original work that is completely plagiarism-free. That is why we only write custom essays. Our essay writers draft your paper from scratch. We never sell pre-written papers. Furthermore, each essay goes through an extensive plagiarism check to verify that it is in fact totally original. You can have total peace of mind knowing that your essay will be written ethically and to the highest standards.</p>

		<h2>Any Subject, Whatever the Urgency</h2>

		<p>We can write essays on every subject imaginable. This is because we have an essay-writing team that consists of professionals who are experts in a full range of over 100 subjects. No matter the assignment, we can handle it. You will always get a custom essay that is written exactly to your assignment's specifications and that is 100% original. Whether you are a freshman or a grad student, RushEssay.com's essay-writing service is always a smart choice.</p>

		Additional Services for Better Grades

		Get the very best essay possible by taking advantage of our value-added services. You can choose to have your essay completed by a Top 10 Writer. Your paper will also be edited by a professional proofreader. You can also utilize our VIP support to have your order specially treated. No more waiting on hold. You will get fast, friendly customer service with VIP treatment. With all of these great benefits, it is no wonder customers continue to choose our essay-writing service time and time again. We make it easier than ever before for you to get an essay that is top quality and 100% original, helping you achieve the academic success you desire. Your satisfaction is always our top priority every time you order essays from us. Experience the RushEssay.com difference today!
}
