@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
   <strong>Math Problems</strong>
   
    <p class="text-justify">Mathematics is one of the toughest subjects to many students. Maths problems are popular in 

    high school, universities and college level. A student who has majored in maths,will need to 

    be good in order to succeed. Some students have trouble in solving a math problem and 

    writing essays.</p>
    
    <p class="text-justify">Our company is a leading in providing mathematics help to students looking 

    for highest academic scores be it in Algebra, Calculus, Geometry, etc. Our writers have many 

    years of experience in handling mathematical papers/assignments and are confident to meet 

    your needs. Our company is equipped with latest technologies for handling all kinds of 

    plagiarized Mathematics papers. All our papers are written from scratch.

    Do not hesitate to contact <strong>Timelyessay.com</strong> to help you out if you got mathematical problems. 

    Our company is passionate about delivering error-free and highest quality Mathematics 

    papers to our clients.</p>
    
    <p class="text-justify">We strive to make our customers happy at affordable rates. Our 

    professional writer does not do a hasty job or rush. We thoroughly understand the accuracy 

    required in undertaking mathematics problems.</p>
    
    <div>
      <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
    </div>
   
}