@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
  <strong>Presentation</strong>
  
    <p class="text-justify">Most of the tasks assigned to tutors such as dissertations and proposals or a stand-alone 

    project will need some demonstration meant to inform the audience, persuade them or build 

    good will as well as showing your knowledge on that given topic. There are several 

    presentation programs: Microsoft Power Point, Apple keynote, OpenOffice.org, impress or 

    prezi that are used to generate the presentation content. The aim of presentations is to train 

    learners to perform before an audience and support their work effectively through video 

    presentations that aid in transferring the information better.</p> 
    
    <p class="text-justify">Presentations require expertise in 

    drawing an outline and structuring to communicate effectively to your audience. Putting 

    together a brilliant academic performance is an acquire skill. The task can be demanding and 

    time-consuming especially for individuals that are unfamiliar to preparation and delivering 

    professional presentations. <strong>Timelyessay.com</strong> presentations are done by competent 

    designers and writers who are graduates from respected universities. We proudly employ the 

    best designers to make a large team of professionals.</p>
    
    <p class="text-justify">Our company offers expert help for all 

    presentations. We strive to make dynamic, informative and up-to-date presentations. Our 

    brilliant writers are aware of the latest software and they always develop efficient custom 

    presentation that will stun your audience with its new approach and quality and proper visual 

    effects.</p>
    
    <p class="text-justify">Timelyessay.com wants to be the facilitator of your educational progress and help 

    you complete these problematic projects.</p>
    
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
  </div>
}