@(loginForm: Form[web.Application.Login])
@main("Timely Essay | Privacy Policy")(loginForm){
    <h3>Our Privacy Policy</h3>

    <strong>Introduction</strong> 
    
    <p class="text-justify">This part explains how the company treats, stores and uses the information it collects  from you when you visit this site, Timelyessay.com, which is owned by Timely Research Services Limited. It also puts into the open when such information may be shared to a third party.</p>
    <p class="text-justify">The information contained in this part is for </p>
	<ul>
	      <li><span>Any visitor who visits our site</span></li>
	      <li><span>Any person who uses the services offered by Timelyessay.com</span></li>
	</ul>
	
    <p class="text-justify">Timelyessay.com collects personally identifying information such as your name and non-personally identifying information such as you Timezone.</p>
    
    <p class="text-justify">This information we collect is to enable you to use the services offered by the website. 
    The information collected is encrypted and securely stored in our servers residing in the United States of America and England.
    We encrypt the information we collect from you to safeguard it.
    We do not store all the information we collect from you. Information such as credit card details are passed directly to our partner, who securely processes payment on our behalf.</p>

    <strong>The information we may collect from you as you use our services</strong>
    <p class="text-justify">For you to use our service, we will require that you provide us with information that will enable us to start a healthy cooperation. Some information such as your timezone and the time you visit our website is collected without you being asked for it. Most of this information is used to enable us give you the service in a timely manner, to communicate with you, and to enable you pay for the services we offer. Therefore, we securely keep this information with us.</p>
    
    <p class="text-justify">The information we collect from you may include your full names, email address, country, mobile phone number, the time you visit our website and place an order, credit/debit card numbers and their expiry dates, address and the details of the order you place in our website. We may also collect  more information from you when you contact us for whatever reason, and when we request feedback from you about our services.</p>

     <strong>How we use the information we collect from website users </strong>
      <p class="text-justify">The information we collect from you is solely for cooperation with you and we do not share it or sell it to a third party. Generally, we use the information we collect from you so that we know how we may provide the services you request, for our record keeping and accounting purposes, for deciding what promotional services we may offer to you, for answering any questions you may have and for communicating to you about any changes in our company that we may want you to know.</p>

      <p class="text-justify">Specifically,</p> 
      <ul>
	  <li><span>Your email is used to communicate with you, welcoming you as a new customer, to tell you about the status of your order and to deliver you your product if you allow us to.</span></li>

	  <li><span>Your phone number is used to contact you via SMS or call with your express permission. We allow you tell us if you wish you wish to receive communication via SMS.</span></li>

	  <li><span>Debit/Credit card, its expiry date and address are used to enable you pay for the services we offer to you.</span></li>
      </ul>
      
      <p class="text-justify">While we promise that we won't disclose your information to other parties, we may, however, give or share your information to other third parties, who accomplish some services for us. They include advertising agencies, our website hosts and email providers who deliver our product to you. Debit/Credit card details are directly sent to our partner to process payments on our behalf. 
      Note that we are not responsible for the wrongful use of the order information you send to our writers.</p>

     <strong>Access to your personal information </strong> 
      <p class="text-justify">At any give time, the information you provide to us is freely available for your perusal. As long as your account with us is active, you can access your information and update it as necessary. If you have any questions concerning the information that is displayed about you, please contact us via our live chat.</p>
      
      <strong>Third party links</strong>
      <p class="text-justify">Our website may contain links to other websites. These links are provided just for your information and we are not responsible for the content you find in those sites because we do not controll that content.</p>
      
       <p class="text-justify">By using our services, you agree that we may change our privacy policy from time to time with or without informing you. Therefore, we advice you to be referring to this page because all changes will be published here.</p>      
      
}