@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
   <strong>Computer Programming</strong>
   
     <p class="text-justify">For information technology students, projects are quite a brain drain. Programming can prove 

    to be a challenge to many students. Completing projects or assignments on computer science 

    topics such as software engineering, computer programming, database, application 

    development, operating systems or conceptual modeling is an inevitable part of your course. </p>

    <p class="text-justify">Besides, achieving an excellent grade in computer programming assignments can be challenging if 

    you are struggling with deadlines,and you are overworked. Our company offers you with 

    highly talented and skilled computer programmers and essay writers in computer science.</p>

     <p class="text-justify">Our programming specialists can assist you with a varied number of programming languages:</p>
      <ul>
	<li>ASP. Net</li>
	<li>Javascript (jQuery, jQuery UI)</li>
	<li>C #.Net</li>
	<li>C #</li>
	<li>JAVA (JSP, J2ME, Android, Play framework)</li>
	<li>MATLAB</li>
	<li>PHP</li>
	<li>CSS and HTML </li>
	<li>VB. Net </li>
	<li>Networking </li>
	<li>Database development (Oracle, SQL,PostgreSQL,MySQL, Sybase and Microsoft Access</li>
	<li>Windows 2005 server and the later editions</li>
      </ul>

    <p class="text-justify">We offer the best academic computer programming services. You can be confident that 

    <strong>Timelyessay.com</strong> will assign your programming assignment or project to highly qualified 

    programmers who will meet the highest standards. </p>
    
    <p class="text-justify">Clients receive a program/prototype/database report accompanying the project or task when demanded. We 

    can also create for you a plan before commencing the work. Furthermore, our company is 

    open to making revisions or amendments in your computer program to meet all your 

    specifications.</p>
    
    <div>
      <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
    </div>
    
}