@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
   <strong>Proofreading</strong>
   
      <p class="text-justify">Before submitting or printing a research paper, essay, email, memo, or any other 

      written document, it is very imperative to proofread it carefully. While proofreading is the final

      stage of editing your document, it can be a composite task. </p>
      
      <p class="text-justify">At our company, the proofreading 

      services allow your work to be completed to your strict specifications with zero grammatical 

      errors or typos. Our writers and staff include editors and writers who are well-versed in the 

      complexities and intricacies of English language. The proofreaders will comb over every text, 

      word and phrase within the paper to enhance the quality of your document, make appropriate 

      editing and meet high standards. Concluding that your work 

      is well proofread implies that we verify your sources and make sure that the document 

      adheres to the rules of the formatting style that you are using, whether it is MLA, APA, 

      AMA, Chicago, CSE, Turban, AP or some other.</p>
      
      <p class="text-justify">Anyone who has written any text from 

      reports, essays, articles, business documents, theses, content or dissertations, knows the 

      significance of error-free and good quality writing. Misprints and mistakes in reports or 

      documents predispose the reader to lose meaning and their confidence in the person and the 

      material itself. Our company offers excellent proofreading services including checks for 

      reliable punctuation, correct grammar, appropriate words, correct spelling, logic structure and 

      internal consistency. Do not worry; we hire native English speakers who can help you review 

      your documents. No task is too little or difficult for our company. All papers are covered with 

      100% satisfaction guarantee.</p>
      
      <p class="text-justify">Our proofreaders thoroughly review your paper, track their 

      changes and will email a satisfactory document to you.</p>
      
      <div>
	<p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
      </div>
    
}