@(field: Field, label: String = "CHANGEME", optionMap: Map[String, Boolean], divClass:String="col-sm-10", isMultiple: Boolean=false, help: String = "",default:String="Please select a value")

  <div class="form-group @if(field.hasErrors) {has-error}" id="number-of-references">
    <label class="col-sm-3 control-label" for="@field.id">@label</label>
    <div class="@divClass">
      <select
        class="form-control"
        id="@field.id"
        name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
        @if(isMultiple) {multiple="multiple"}>
        
      </select>
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
