@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
    <strong>Research paper</strong>
    <p class="text-justify">A research paper is an academic paper, which is published in academic journals and contains 

    original research results or reviews existing results or shows an entirely new invention. It will 

    take up most of your time and patience is part of it too .You will probably find yourself stuck in 

    the library behind a stack of books. Or your eyes glued to your computer overnight . With our 

    help you do not have to go through this ,we get it done for you and give it a touch of accuracy, 

    validity verifiability, precision, origin coherence and up-to-date information.</p>
    
    <p class="text-justify">Moreover, the  

    papers will be well researched and properly cited and referenced as per your requirements.</p>
    
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order now&nbsp;&nbsp;&nbsp;</a></p>
  </div>

}