@(loginForm: Form[web.Application.Login])
@main("Timely Essay | For Quality Service")(loginForm){
   <strong>Term Paper</strong>
   
  <p class="text-justify">A term paper may be a complex task requiring a professional or student to record all the knowledge gained 

  throughout the entire course. With our professional writers who have great acquaintance in writing a term paper, you will not bust your head
  
  with all this.</p>
  
  <p class="text-justify">We guarantee you of comprehensive term paper that will assure your reader that you 

  learned a lot during the course. Right from choosing an interesting topic, to intensive 

  research, developing an outline for your paper and ensuring that you sound as convincing as 

  possible. The reality is high quality paper for study and reference can only be delivered when 

  the company has professional writers who take the time in checking the clients` requirements 

  and develop exceptional products from scratch.</p>
  
  <p class="text-justify">As a professional or student, you need to be keen on who 

  works on your papers. Our company has a reputation, and its track record speaks for itself. 

  We guarantee incomparable term papers that are in line with your requirements. We offer 100% satisfaction writing services that accommodate your 

  professional or academic needs. Your content will use reputable sources and you term paper will be unique; 

  not found anywhere on the web. Order your term paper and have an experience of Native writing 

  professionals</p>
  
  <div>
    <p align="center"><a href="@controllers.web.routes.Application.newOrder()" class="btn btn-warning">&nbsp;&nbsp;&nbsp;Order Now&nbsp;&nbsp;&nbsp;</a></p>
  </div>
  
}

 