<!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" >Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                 <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#abt">Custom Essay</a>
                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#services">Research paper</a>
                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                    <a href="#" data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle">Dissertation Service <b class="caret"></b></a>
                                    <ul class="dropdown-menu">

                                        <li><a href="#">Thesis</a></li>
                                        <li class="divider"></li>

                                        <li><a href="#">Editing</a></li>
                                        <li class="divider"></li>

                                        <li><a href="">Proof Reading</a></li>
										 <li class="divider"></li>
										 
										 <li><a href="#">Dissertation proposal</a></li>
                                        <li class="divider"></li>
                                        
                                        <li><a href="#">Dissertation introduction</a></li>
                                        <li class="divider"></li>
                                        
                                        <li><a href="#">Dissertation Literature</a></li>
                                        <li class="divider"></li>
                                     </ul>
                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Coursework</a>
                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Editing</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Admision Services</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Resume Services</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>