@clientmain("My Orders"){
<h3>Active</h3>
<hr/>
<div class="order-row-listing">

      <table class="table table-bordered">
        <thead>
            <tr>
	      <th>#</th>
	      <th>Topic</th>
	      <th>status</th>
	      <th>Deadline</th>
	      <th>Messages</th>
	      <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
	  <tr>
	    <td>81285520 </td>
	    <td>transfer to word </td>
	    <td>Not Paid</td>
	    <td>28.10.14    05:17</td>
	    <td>0</td>
	    <td>Complete Payment here</td>
          </tr>
	  <tr>
	    <td>81221520 </td>
	    <td>When Music Was Music</td>
	    <td>Awaiting Writers</td>
	    <td>28.10.14   05:17</td>
	    <td>0</td>
	    <td>Completely Paid</td>
	  </tr>
        </tbody>
      </table>
      <hr/>
</div>

      <h3>Completed</h3>
      <hr/>
      <div class="order-row-listing">
      
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Topic</th>
	      <th>Deadline</th>
	      <th>Messages</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>81285520</td>
	      <td>Write Synopsis</td>
	      <td>28.10.14  05:17</td>
	      <td>2</td>
	      <td>Download AskForRev</td>
	    </tr>
	    <tr>
	      <td>81285519 </td>
	      <td>transfer to word </td>
	      <td>28.10.14   05:14</td>
	      <td> 0 </td>
	      <td> Complete Payment</td>
	    </tr>
	  </tbody>
	</table>
	
      </div>
}