@clientmain("Timely Essay | Messages"){		
	<div class="" style="margin-top:20px">
		<div class="to-client-msg">
			<div class="to-client-msg-details">Quality Assurance Team on 15/11/2014 @@ 8:30am</div>
			<div class="bubble"></div>
		</div>
		<div class="from-client-msg">
			<div class="from-client-msg-details">Writers on 15/11/2014 @@ 7:48am</div>
			<div class="bubble2"></div>
		</div>
		<div class="to-client-msg">
			<div class="to-client-msg-details">Support on 15/11/2014 @@ 8:30am</div>
			<div class="bubble"></div>
		</div>
	</div>
}
