@clientmain("My Orders"){
<h2>Orders</h2>
    <table class="table table-hover" id="mytable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Topic</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Messages</th>
                <th>Payment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>81285520 </td>
                <td>transfer to word </td>
                <td>28.10.14    05:17</td>
                <td>Order is NOT Paid </td>
                <td>0</td>
               <td><a href="payment.html" ><img  src="images/paypal.png" class="img-responsive"></a><a href="payment.html"><img src="images/visa.png" class="img-responsive"></a><a href="payment.html"></a><a href="payment.html"><img src="images/mastercard.png" class="img-responsive"></a></td>
            </tr>
            <tr>
                <td>81285519 </td>
                <td>transfer to word </td>
                <td>28.10.14   05:14</td>
                <td>Order is NOT Paid </td>
                <td>0</td>
                <td><img src="images/paypal.png" class="img-responsive"><img src="images/visa.png" class="img-responsive"><img src="images/mastercard.png" class="img-responsive"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}