<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timely Essays</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- custom css -->
    <link href="css/mycss.css" rel="stylesheet">
    <link href="css/tablecloth.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="js/tablecloth.js"></script>
    

    <!-- glyphicons -->
    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    </head>
  <body>
    
   <div class="container"><!-- header container  -->
   <div class="page-header"><!-- start of header -->
   
  
</div><!-- end of header -->






<!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" >Timely Essays</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                 <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#abt">Custom Essay</a>

                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#services">Research paper</a>
                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dissertation Service <b class="caret"></b></a>
                                    <ul class="dropdown-menu">

                                        <li><a href="index.html#">Thesis</a></li>
                                        <li class="divider"></li>

                                        <li><a href="index.html#">Editing</a></li>
                                        <li class="divider"></li>

                                        <li><a href="index.html#">Proof Reading</a></li>

                                        

                    

                                     </ul>
                    </li>
                     <li class="divider-vertical"></li>

                    
                    <li>
                        <a href="index.html#">Coursework</a>
                    </li>
                     <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Editing</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Admision Services</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        <a href="index.html#">Resume Services</a>
                    </li>
                    
                    
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</div><!-- end of topnavigation container -->
<div class="container">

<div class="row"><!-- start of main body row -->

<div class="col-md-2" id="navigation"><!-- start of navigation column -->




    <ul class="nav nav-pills nav-stacked">

        <li ><a href="admin.html">Add users</a></li>

        <li class="active" ><a href="roles.html">Roles</a></li>
        <li ><a href="mgmtorders.html">Manage Orders</a></li>
       <li><a href="orders.html">Order Now</a></li>
      
        

    </ul>


</div><!-- end of navigation column  -->

<div class="container">

<div class="col-md-10" id="mainbody"><!-- start of main body -->


    


    <ul class="nav nav-tabs">

        <li ><a href="roles.html">View roles</a></li>

        <li class="active"><a href="addrole.html">Add New Role</a></li>

        <li><a href="assignrole.html">Assign Roles</a></li>

        

    </ul>

    <form class="form-horizontal">

    <table class="table table-hover">

        <thead>

            <tr>

                <th>Role</th>

                <th>Privilages</th>

                

            </tr>

        </thead>

        <body>
        <tr>
        <td> <div class="form-group">

        <label for="name" class="control-label col-xs-2">Role Name</label>

        <div class="col-xs-10">

            <input type="email" class="form-control" id="name" placeholder="Role name">

        </div>

    </div></td>
        <td></td>
            

        </tr>

            <tr>

                <td>manage orders </td>

                <td>
                      <div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label></div>

            </div>

        </div>

         </td>

         </tr>

    </div>  


               

                

               

            </tr>

            <tr>

                <td>Send marketing emails to clients</td>

                <td>
                    
                 <div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>

                </td>

                

            </tr>

            <tr>

                <td>Assign Writers work</td>

                <td>
                <div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>                    

                </td>

                

            </tr>
            <tr>
            <td>Upload Order</td>
            <td><div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>        </td>
            </tr>


            <tr>
            <td>Request Deadline extension</td>
            <td><div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>        </td>
            </tr>


            <tr>
            <td>View Client orders</td>
            <td><div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>        </td>
            </tr>

            <tr>
            <td>View Payment Status</td>
            <td><div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>        </td>
            </tr>

            <tr>
            <td>View Writer Earnings</td>
            <td><div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>        </td>
            </tr>


            <tr>
            <td>Deactivate Writers</td>
            <td><div class="form-group">

                <div class="col-md-3">

                 <div class="checkbox">

                <label><input type="checkbox"></label>

                </div>

            </div>

        </div>        </td>
            </tr>

            <tr>
            
            <td> <div class="form-group">

        <div class="col-md-3">

            <button type="submit" class="btn btn-primary">Assign</button>

        </div>

    </div></td>
    <td></td>
            </tr>

        </body>

    </table>
    </form>



            

        

    





</div><!-- end of main body column -->
</div>





</div><!-- end of main body row -->
</div>
<div class="container">
<footer class="text-center">
        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    <h3>Social media</h3>
                    <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com" ><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                            </li>
                            

                            <li>
                                <a href="https://facebook.com"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                            </li>
                            <li>
                                <a href="https://facebook.com"><i class="fa  fa-google-plus fa-fw"></i> <span class="network-name"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/"><i class="fa  fa-linkedin fa-fw"></i> <span class="network-name"></span></a>
                            </li>
                        </ul>
                        
                        

                        

                            
                            
                        Copyright &copy;Timely Essays 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>
<div class="row">
</div>

</div>


</body>


    
  




    
      


    
  

  

    
    

    

    


    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

     

     

     
    
    


     

     


    







  </body>
</html>