@adminmain("Manage Orders"){
<div class="col-md-10" id="mainbody"><!-- start of main body -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#new-orders">New Orders</a></li>
        <li ><a data-toggle="tab" href="#writer-assigned-orders">Writer Assigned Orders</a></li>
        <li><a data-toggle="tab" href="#completed-orders">Completed Orders</a></li>
    </ul>
    <div class="tab-content"><!--start tab content div -->
    <div id="new-orders" class="tab-pane fade in active"><!--Start writer assigned orders div -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>No. Of Pages</th>
						<th>Order Category</th>
						<th>Order Type</th>
						<th>Order Subject</th>
						<th>Spacing</th>
						<th>no. Of references</th>
						<th>Writing Style</th>
						<th>Additional Files</th>
						<th>Deadline</th>
						<th>Assigned Writer Id </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Essay</td>
						<td>2</td>
						<td>Urgent</td>
						<td></td>
						<td>History</td>
						<td>1.0</td>
						<td>10</td>
						<td>Harvard</td>
						<td>032</td>
						<td>1-8-2014</td>
						<td>Finance</td>
						<td>1F031</td>
					</tr>
				</tbody>
			</table>
    </div><!--End writer assigned orders div -->
    <div id="writer-assigned-orders" class="tab-pane fade"><!--Start new orders div -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>No. Of Pages</th>
						<th>Order Category</th>
						<th>Order Type</th>
						<th>Order Subject</th>
						<th>Spacing</th>
						<th>no. Of references</th>
						<th>Writing Style</th>
						<th>Additional Files</th>
						<th>Deadline</th>
						<th>Assigned Writer Id </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Music</td>
						<td>2</td>
						<td>Urgent</td>
						<td></td>
						<td>History</td>
						<td>1.0</td>
						<td>10</td>
						<td>Harvard</td>
						<td>032</td>
						<td>1-8-2014</td>
						<td>Finance</td>
						<td>2F031</td>
					</tr>
				</tbody>
			</table>
    </div><!--End new orders div -->
    <div id="completed-orders" class="tab-pane fade"><!--Start completed orders div -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>No. Of Pages</th>
						<th>Order Category</th>
						<th>Order Type</th>
						<th>Order Subject</th>
						<th>Spacing</th>
						<th>no. Of references</th>
						<th>Writing Style</th>
						<th>Additional Files</th>
						<th>Deadline</th>
						<th>Assigned Writer Id </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Art</td>
						<td>2</td>
						<td>Urgent</td>
						<td></td>
						<td>History</td>
						<td>1.0</td>
						<td>10</td>
						<td>Harvard</td>
						<td>032</td>
						<td>1-8-2014</td>
						<td>Finance</td>
						<td>3F031</td>
					</tr>
				</tbody>
			</table>
    </div><!--End completed orders div -->
    </div><!--end tab content -->
</div><!-- end of main body column -->
}
