@(clientOrders: models.orders.Orders)(orderFilesForm:Form[models.orders.OrderProductFiles])
@import models.orders._
@import fieldtemplates._
@adminmain("Title"){
<div class="col-md-10" id="mainbody">
 @if(clientOrders!=null){
 @if(clientOrders.order_id!=null){
	 <h3>Client details</h3>
     <div>
      <table>
		<tr>
			<td>Name</td>
			<td>@clientOrders.client.f_name  @clientOrders.client.l_name</td>
		</tr>
		<tr>
			<td>Phone Number</td>
			<td>@clientOrders.client.country_code-@clientOrders.client.area_code-@clientOrders.client.phone_number</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>@clientOrders.client.email</td>
		</tr>
		<tr>
			<td>Time Zone</td>
			<td>@clientOrders.client.client_time_zone_real.getDisplayName().toString()</td>
		</tr>
		<tr>
			<td>Current Time</td>
			<td>@(models.admin.adminutils.AdminUtils.getCurrentClientTime(clientOrders.client.client_time_zone_real))</td>
		</tr>
		<tr>
			<td>Country</td>
			<td>@clientOrders.client.country.nicename</td>
		</tr>
		@if(clientOrders.client.orders.size()>1){
			<tr>
				<td>Other orders for this client</td>
				<td>@for(order<-clientOrders.client.orders){@if(order.order_code != clientOrders.order_code){ <a href="@controllers.admincontrollers.routes.ManageOrdersActions.manageOrder(order.order_code)">@order.order_code</a> }}</td>
			</tr>
		}
	  </table>
	 </div>
    <h3>Order details</h3>
    <div>
      <table>
		<tr>
			<td><p class="phone-number">Payment Status</p></td>
			<td><p>@if(clientOrders.is_paid == false){<strong class="text-danger">NOT PAID</strong>}else{Paid}</p></td>
		</tr>
		<tr>
			<td>Order code</td>
			<td>@clientOrders.order_code</td>
		</tr>
		
		<tr>
		  <td>Order Total</td>	  <td><strong>@clientOrders.orderCurrence.currency_symbol_2@(Math.round(clientOrders.order_total*clientOrders.orderCurrence.convertion_rate*100)/100.00)</strong></td>
		</tr>
		
		<tr>
		  <td>Amount paid</td>  <td><strong>@clientOrders.orderCurrence.currency_symbol_2@(Math.round(clientOrders.amount_paid*clientOrders.orderCurrence.convertion_rate*100)/100.00)</strong></td>
		</tr>
		
		<tr>
			<td>Order status</td>
			<td>@if(clientOrders.is_writer_assigned == false){Awaiting writer}else{Worked on}</td>
		</tr> 
		<tr>
			<td>Document type</td>
			<td>@clientOrders.orderDocumentType.document_type_name</td>
		</tr>      
	@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() != OrderCppMode.CppModes.perassignment.toString()){
		<tr>      
			<td>Subject area</td>
			<td>@clientOrders.orderSubject.subject_name</td>
		</tr>
	}
		<tr>
			<td>Topic</td>
			<td>@clientOrders.topic</td>
		</tr>
	
		<tr>
			<td>Style</td>
			<td>@clientOrders.writing_style</td>
		</tr>
	
		<tr>
			<td>No. of sources/references</td>
			<td>@clientOrders.no_of_references</td>
		</tr>
	    
		<tr>
			<td>Want order after</td>
			<td> <span>@clientOrders.getDeadlineObject(clientOrders.document_deadline).deadline_value</span> <span>@clientOrders.getDeadlineObject(clientOrders.document_deadline).deadline_unit</span> <span>(Approx deadline @(clientOrders.order_deadline.getYear()+1900)/@(clientOrders.order_deadline.getMonth()+1)/@clientOrders.order_deadline.getDate() @clientOrders.order_deadline.getHours():@if(clientOrders.order_deadline.getMinutes()<10){0@clientOrders.order_deadline.getMinutes()}else{@clientOrders.order_deadline.getMinutes()})</span> </td>
		</tr>
		<tr>
			<td>Order deadline</td>
			<td>@models.admin.adminutils.AdminUtils.getTimeRemaining(clientOrders.order_deadline)</td>
		</tr>
	
	@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() == OrderCppMode.CppModes.perassignment.toString()){
		<tr>
			<td>Operating system</td>
			<td>@clientOrders.operating_system</td>
		</tr>
		
		<tr>
			<td>Programming language</td>
			<td>@clientOrders.prog_language</td>
		</tr>
		
		<tr>
			<td>Database</td>
			<td>@clientOrders.database</td>
		</tr>
			
		<tr>
			<td>Number of assignments</td>
			<td>@clientOrders.number_of_units</td>
		</tr>      
		}
		@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() == OrderCppMode.CppModes.perpage.toString()){
		<tr>
			<td>Number of pages</td>
			<td>@clientOrders.number_of_units</td>
		</tr>
		
		<tr>
			<td>Spacing</td>
			<td>@clientOrders.spacing.spacing</td>
		</tr>
	}
	
	@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() == OrderCppMode.CppModes.perquestion.toString()){
	  <td>Number of questions</td>
	    <td>@clientOrders.number_of_units</td>
	  </tr>
	  <tr>
	    <td>Spacing</td>
	    <td>@clientOrders.spacing.spacing</td>
	  </tr>
	}
	
	@if(clientOrders.additions.size()>0){
	  <tr>
	    <td>Additions</td>
	    <td>
	      @for(aList<-clientOrders.additions){
		@aList.ui_label
		(+ @clientOrders.orderCurrence.currency_symbol_2 @( Math.round(aList.additional_price*clientOrders.number_of_units*clientOrders.orderDocumentType.additions_factor*100)/100.00))
		<!--<br><br> -->
	      }
	    </td>
	  </tr> 	
	}      

	  <tr>
	    <td>Messages</td>
	    <td><a href="#">0(all Messages) (0 Unread (those sent to support by writers and client))</a></td>
	  </tr>
      </table>
    </div>
      <!--..........................................................................................................-->
	@if(!clientOrders.is_complete){
	   <div id="deadline-form-admin"> 
	      <form id="extend_deadline_form_admin" name="extend_deadline_form_admin" method="post" action="">		
		<div id="order-code-admin" class="hidden">@clientOrders.order_code</div>
		<div class="">							
		    <legend>Ask for deadline extension</legend> <br>	
		    <div class="row">							
										    
			<div class='col-sm-4'>
			    <div class="form-group">					
				<div class='input-group date' id=''>
				    <span class="input-group-addon" id="sizing-addon1">Date/Time</span>
				    <input type="text" value="@clientOrders.order_deadline.format("YYYY-MM-dd HH:mm")" class="form-control input-sm" 		name="order_deadline_admin" id="order_deadline_admin"/> 
				</div>								
			    </div>								
			</div>									
				    
			<div class="col-sm-4">
			  <div class="form-group">
			    <div class='input-group date' id=''>
			      <span class="input-group-addon" id="sizing-addon1">Reason</span>
				<select class="form-control input-sm" name="deadline_extension_reason">
					<option value="">--Select Reason--</option>
					<option value="USING_SOFTWARE"> Using some software </option>
					<option value="EXTENSIVE_RESEARCH"> Extensive research </option>
					<option value="CLOSE_TO_DEADLINE"> Close to deadline </option>
					<option value="LIMITED_MATERIAL"> Limited reference material </option>
				</select>
			    </div>
			  </div>
			</div>
				    
			<div class='col-sm-3'>						
			    <div class="form-group">						
				<div id='extend-to-date-admin-btn'>				
				    <button type="submit" id="btn-deadline-extension-admin" class="btn btn-primary btn-sm">
				      &nbsp;&nbsp;&nbsp;&nbsp; Submit &nbsp;&nbsp;&nbsp;&nbsp;					
				    </button>	
				    <span id="loading-gif-extend-admin" class="hidden">
				      <img src="@routes.Assets.at("images/loading.gif")"/>Submiting...
				    </span>
				</div>						
			    </div>							
			</div>							
										    
		    </div>							
		</div>									
	      </form>
	    </div>
	}
	  @if(!clientOrders.is_complete && clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name == OrderCppMode.CppModes.perpage){
	    <hr> <!--.........................................................................--> 
	    <div id="deadline-form-admin"> 
	      
	      <form id="extra_pages_form" name="extra_pages_form" method="post" action="">		
		<div class="">							
		    <legend>Request for additional pages</legend> <br>	
		    <div class="row">							
										    
			<div class='col-sm-3'>
			    <div class="form-group">					
				<div class='input-group' id=''>
				    <span class="input-group-addon" id="sizing-addon1">Extra pages</span>
				    <input type="number" value="" min="1" max="@Math.round((clientOrders.number_of_units/2))" data-fv-integer-message="The value is not an integer" class="form-control input-sm" name="extra_pages" id="extra_pages"/>
				</div>								
			    </div>								
			</div>
				    
			<div class="col-sm-3">						
			    <div class="form-group">						
				<div id="">				
				    <button type="submit" id="extra-pages-btn" class="btn btn-primary btn-sm">
				      &nbsp;&nbsp;&nbsp;&nbsp; Submit &nbsp;&nbsp;&nbsp;&nbsp;					
				    </button>	
				    <span id="loading-gif-extra-pages" class="hidden">
				      <img src="@routes.Assets.at("images/loading.gif")"/>Submiting...
				    </span>
				</div>						
			    </div>							
			</div>							
									    
		    </div>
		    Note that asking additional pages from the client does not change the client's instructions 
		</div>									
	      </form>
	    </div>
	    <hr><!--.........................................................................--> 
	  }
    
    <h3><legend>Order instructions and files</legend></h3>
    <div id="order-description-files" class="order-files-bg">
      <div>
	<div>
	  <p><pre>@clientOrders.order_instruction</pre></p>
	</div>
    </div>
      
    @if(clientOrders.orderFiles.size()>0){
	<div>
	  <legend>Order additional files</legend>
	  <!--files will go here -->
	  @if(flash.containsKey("orderfiledownloaderror")){
	    <div class="alert alert-danger">
		    @flash.get("orderfiledownloaderror")
	    </div>
	  }
	  @for(orderList <- clientOrders.orderFiles){
	    @orderList.file_name <a href="#" class="file-shared-class" id="order-file-@orderList.id" title="download @orderList.file_name file"> <span class="fa fa-download file-download-icon"> </span></a><br>
	  }
	</div>
      }
      
      <div>
	@helper.form(action=controllers.admincontrollers.routes.ManageOrdersActions.uploadProductFile(clientOrders.order_code),'class->"form-horizontal",'id->"orderFileForm", 'name->"orderFileForm",'enctype -> "multipart/form-data"){
	  <fieldset>
	    @if(flash.containsKey("fileuploadresponseerror")){
	      <div class="alert alert-danger">
		      @flash.get("fileuploadresponseerror")
	      </div>
	    }	   
	    @if(flash.containsKey("fileuploadresponsesuccess")){
	      <div class="alert alert-success">
		      @flash.get("fileuploadresponsesuccess")
	      </div>
	    }
	    <legend>Upload Order Product Files</legend>
	 <div>
		@adminorderfileupload(orderFilesForm("file_name"),
		  label = "Upload order File",
		  divClass="col-sm-3")
		  <div class="col-sm-3">
				<select class="form-control input-sm" name="product_file_type">
					<option value="">--Select Type--</option>
					@if(!clientOrders.on_revision){
						<option value="PRODUCT">Product</option>
					}else{
						<option value="REVISION">Revision</option>
					}
					<option value="DRAFT">Draft</option>
					<option value="REFERENCE_MATERIAL">Reference Material</option>
					<option value="ADDITIONAL_FILE">Additional File</option>
					<option value="OTHER">Other</option>
				</select>
		  </div>
		<div class="col-sm-2 form-group">
		  <input type="submit" class="btn btn-primary btn-sm" value="Upload file" id = "order-file-form-submit">
		</div>
	 </div>
	      
	  </fieldset>
	}
      </div>
    </div> 
    
    <hr>   
    @if(clientOrders.orderProductFiles.size()>0){
      <h4>Order product uploads</h4> 
	@if(flash.containsKey("orderproductfiledownloaderror")){
	  <div class="alert alert-success">
		  @flash.get("orderproductfiledownloaderror")
	  </div>
	}
	<table>
	  <tr>
	    <td><strong> Type </strong></td>
	    <td><strong> From </strong></td>
	    <td><strong> Name </strong>(Click <img src="@routes.Assets.at("images/downloadimg.png")"/> to download)</td>
	    <td><strong> Size </strong></td>
	    <td><strong> Upload date </strong></td>
	  </tr>
	  @for(productFiles <- clientOrders.orderProductFiles){
	  <tr>
	  <!--width="28" height="22"  -->
	    <td> @productFiles.product_file_type.name() </td>
	    <td> @productFiles.owner.name()</td>
	    <td> @productFiles.file_name  <a href="#" title="download" class="product-file-shared-class" id="product-file-@productFiles.id"><img src="@routes.Assets.at("images/downloadimg.png")"/></a></td>
	    <td> @(Math.round((productFiles.file_size).doubleValue()/(1024*1024)*1000)/1000.000) MB</td>
	    <td> @(productFiles.upload_date.getYear()+1900)/@(productFiles.upload_date.getMonth()+1)/@productFiles.upload_date.getDate() 		@productFiles.upload_date.getHours():@productFiles.upload_date.getMinutes()</td>
	  </tr>
	  }	  
	 </table>
	}
	}else{
		<div class="alert alert-danger">Order not found.</div>
	}

}else{
		<div class="alert alert-danger">Order not found.</div>
}	
</div>
}