@(activeOrders:com.avaje.ebean.Page[models.orders.Orders])(completedOrders:com.avaje.ebean.Page[models.orders.Orders])(closedOrders:com.avaje.ebean.Page[models.orders.Orders])
@adminmain("Manage Orders"){
<div class="col-md-10" id="mainbody"><!-- start of main body -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#new-orders">New Orders</a></li>
        <li ><a data-toggle="tab" href="#writer-assigned-orders">Writer Assigned Orders</a></li>
        <li><a data-toggle="tab" href="#completed-orders">Completed Orders</a></li>
    </ul>
    <div class="tab-content"><!--start tab content div -->
    <div id="new-orders" class="tab-pane fade in active"><!--Start writer assigned orders div -->
			@if(activeOrders !=null){
			@if(activeOrders.getList().size()>0){
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Topic</th>
						<th>Qs/Pgs</th>
						<th>Date</th>
						<th>Deadline</th>
						<th>Spacing</th>
						<th>Refs</th>
						<th>Style</th>
						<th>Files</th>
						<th>Status</th>
						<th>Assigned Writer Id </th>
					</tr>
				</thead>
				<tbody>
						@for(order <- activeOrders.getList()){
						    <tr>
							<td><a href="@controllers.admincontrollers.routes.ManageOrdersActions.manageOrder(order.order_code)">@order.order_code</a></td>
							<td>@order.topic</td>
							<td>@order.number_of_units</td>
							<td>@order.order_date.format("dd-MM-YYYY HH:mm")</td>
							<td>@(new models.orders.Orders().computeDeadline(order.order_date, order.document_deadline).format("dd-MM-YYYY HH:mm"))</td>
							<td>@order.spacing.spacing</td>
							<td>@order.no_of_references</td>
							<td>@order.writing_style</td>
							<td>Files</td>
							<td>Status</td>
							<td>Writer</td>
						    </tr>
						}
				</tbody>
			</table>
			}else{
			<div class="alert alert-success">
					No active orders found.
			</div>
			}
			}else{
			<div class="alert alert-success">
					No active orders found.
			</div>
			}
    </div><!--End writer assigned orders div -->   
    <div id="writer-assigned-orders" class="tab-pane fade"><!--Start new orders div -->
    @if(completedOrders!=null){
    @if(completedOrders.getList().size()>0){
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Topic</th>
						<th>Qs/Pgs</th>
						<th>Date</th>
						<th>Deadline</th>
						<th>Spacing</th>
						<th>Refs</th>
						<th>Style</th>
						<th>Files</th>
						<th>Status</th>
						<th>Assigned Writer Id </th>
					</tr>
				</thead>
				<tbody>
					@for(order <- completedOrders.getList()){
							<tr>
								<td><a href="@controllers.admincontrollers.routes.ManageOrdersActions.manageOrder(order.order_code)">@order.order_code</a></td>
								<td>@order.topic</td>
								<td>@order.number_of_units</td>
								<td>@order.order_date.format("dd-MM-YYYY HH:mm")</td>
								<td>@(new models.orders.Orders().computeDeadline(order.order_date, order.document_deadline).format("dd-MM-YYYY HH:mm"))</td>
								<td>@order.spacing.spacing</td>
								<td>@order.no_of_references</td>
								<td>@order.writing_style</td>
								<td>Files</td>
								<td>Status</td>
								<td>Writer</td>
							</tr>
					}
				</tbody>
			</table>
  
    }else{
			<div class="alert alert-success">
					No completed orders found.
			</div>
	}
    }else{
    		<div class="alert alert-success">
					No completed orders found.
			</div>
    }  
    </div><!--End new orders div --> 
    <div id="completed-orders" class="tab-pane fade"><!--Start completed orders div -->
    @if(closedOrders!=null){
    @if(closedOrders.getList().size()>0){
   
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Topic</th>
						<th>Qs/Pgs</th>
						<th>Date</th>
						<th>Deadline</th>
						<th>Spacing</th>
						<th>Refs</th>
						<th>Style</th>
						<th>Files</th>
						<th>Status</th>
						<th>Assigned Writer Id </th>
					</tr>
				</thead>
				<tbody>
					@for(order <- closedOrders.getList()){
						<tr>
							<td><a href="@controllers.admincontrollers.routes.ManageOrdersActions.manageOrder(order.order_code)">@order.order_code</a></td>
							<td>@order.topic</td>
							<td>@order.number_of_units</td>
							<td>@order.order_date.format("dd-MM-YYYY HH:mm")</td>
							<td>@(new models.orders.Orders().computeDeadline(order.order_date, order.document_deadline).format("dd-MM-YYYY HH:mm"))</td>
							<td>@order.spacing.spacing</td>
							<td>@order.no_of_references</td>
							<td>@order.writing_style</td>
							<td>Files</td>
							<td>Status</td>
							<td>Writer</td>
						</tr>
					}
				</tbody>
			</table>    
    }else{
			<div class="alert alert-success">
					No closed orders found.
			</div>
    }
    }else{
			<div class="alert alert-success">
					No closed orders found.
			</div>
    }
    </div><!--End completed orders div -->
    </div><!--end tab content -->
</div><!-- end of main body column -->
}
