@(clientOrders: models.orders.Orders)(orderFilesForm:Form[models.orders.OrderProductFiles])
@import models.orders._
@import fieldtemplates._
@adminmain("Title"){
<div class="col-md-10" id="mainbody">
 @if(clientOrders!=null){
 @if(clientOrders.order_id!=null){
    <h3>Order details</h3>
    <div>
      <table>
		<tr>
			<td><p class="phone-number">Payment Status</p></td>
			<td><p>@if(clientOrders.is_paid == false){<strong class="text-danger">NOT PAID</strong>}else{Paid}</p></td>
		</tr>
		<tr>
		<td>Order code</td>
		<td>@clientOrders.order_code</td>
		</tr>
		<tr>
		<td>Order status</td>
		<td>@if(clientOrders.is_writer_assigned == false){Awaiting writer}else{Worked on}</td>
		</tr> 
		<tr>
		<td>Document type</td>
		<td>@clientOrders.orderDocumentType.document_type_name</td>
		</tr>      
	@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() != OrderCppMode.CppModes.perassignment.toString()){
		<tr>      
			<td>Subject area</td>
			<td>@clientOrders.orderSubject.subject_name</td>
		</tr>
	}
		<tr>
		<td>Topic</td>
		<td>@clientOrders.topic</td>
		</tr>
	
		<tr>
		<td>Style</td>
		<td>@clientOrders.writing_style</td>
		</tr>
	
		<tr>
		<td>No. of sources/references</td>
		<td>@clientOrders.no_of_references</td>
		</tr>
	    
		<tr>
		<td>Want order after</td>
		<td> <span>@clientOrders.getDeadlineObject(clientOrders.document_deadline).deadline_value</span> <span>@clientOrders.getDeadlineObject(clientOrders.document_deadline).deadline_unit</span> <span>(Approx deadline @(clientOrders.order_deadline.getYear()+1900)/@(clientOrders.order_deadline.getMonth()+1)/@clientOrders.order_deadline.getDate() @clientOrders.order_deadline.getHours():@if(clientOrders.order_deadline.getMinutes()<10){0@clientOrders.order_deadline.getMinutes()}else{@clientOrders.order_deadline.getMinutes()})</span> </td>
		</tr>
	
	@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() == OrderCppMode.CppModes.perassignment.toString()){
		<tr>
			<td>Operating system</td>
			<td>@clientOrders.operating_system</td>
		</tr>
		
		<tr>
			<td>Programming language</td>
			<td>@clientOrders.prog_language</td>
		</tr>
		
		<tr>
			<td>Database</td>
			<td>@clientOrders.database</td>
		</tr>
			
		<tr>
			<td>Number of assignments</td>
			<td>@clientOrders.number_of_units</td>
		</tr>      
		}
		@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() == OrderCppMode.CppModes.perpage.toString()){
		<tr>
			<td>Number of pages</td>
			<td>@clientOrders.number_of_units</td>
		</tr>
		
		<tr>
			<td>Spacing</td>
			<td>@clientOrders.spacing.spacing</td>
		</tr>
	}
	
	@if(clientOrders.orderDocumentType.orderCppMode.order_cpp_mode_name.name() == OrderCppMode.CppModes.perquestion.toString()){
	  <td>Number of questions</td>
	    <td>@clientOrders.number_of_units</td>
	  </tr>
	  <tr>
	    <td>Spacing</td>
	    <td>@clientOrders.spacing.spacing</td>
	  </tr>
	}
	
	@if(clientOrders.additions.size()>0){
	  <tr>
	    <td>Additions</td>
	    <td>
	      @for(aList<-clientOrders.additions){
		@aList.ui_label
		(+ @clientOrders.orderCurrence.currency_symbol_2 @( Math.round(aList.additional_price*clientOrders.number_of_units*clientOrders.orderDocumentType.additions_factor*100)/100.00))
		<!--<br><br> -->
	      }
	    </td>
	  </tr> 	
	}      
	<tr>
	  <td>Order Total</td> 
	  <td><strong>@clientOrders.orderCurrence.currency_symbol_2@(Math.round(clientOrders.order_total*clientOrders.orderCurrence.convertion_rate*100)/100.00)</strong></td>
	</tr>
	  <tr>
	    <td>Messages</td>
	    <td><a href="#">0 (0 Unread)</a></td>
	  </tr>
      </table>
    </div>
   
    <hr>  
    <h3><legend>Order description and files</legend></h3>
    <div id="order-description-files" class="order-files-bg">
      <div>
	<div>
	  <p>@clientOrders.order_instruction</p>
	</div>
    </div>
      
    @if(clientOrders.orderFiles.size()>0){
	<div>
	  <legend>Order additional files</legend>
	  <!--files will go here -->
	  @if(flash.containsKey("orderfiledownloaderror")){
	    <div class="alert alert-danger">
		    @flash.get("orderfiledownloaderror")
	    </div>
	  }
	  @for(orderList <- clientOrders.orderFiles){
	    @orderList.file_name <a href="#" class="file-shared-class" id="order-file-@orderList.id" title="download @orderList.file_name file"> <span class="fa fa-download file-download-icon"> </span></a><br>
	  }
	</div>
      }
      
      <div>
	@helper.form(action=controllers.admincontrollers.routes.ManageOrdersActions.uploadProductFile(clientOrders.order_code),'class->"form-horizontal",'id->"orderFileForm", 'name->"orderFileForm",'enctype -> "multipart/form-data"){
	  <fieldset>
	    @if(flash.containsKey("fileuploadresponseerror")){
	      <div class="alert alert-danger">
		      @flash.get("fileuploadresponseerror")
	      </div>
	    }	   
	    @if(flash.containsKey("fileuploadresponsesuccess")){
	      <div class="alert alert-success">
		      @flash.get("fileuploadresponsesuccess")
	      </div>
	    }
	    <legend>Upload Order Product Files</legend>
	 <div>
		@adminorderfileupload(orderFilesForm("file_name"),
		  label = "Upload order File",
		  divClass="col-sm-5")
		  <div class="col-sm-3">
				<select class="form-control" name="product_file_type">
					<option value="">--Select Type--</option>
					@if(!clientOrders.on_revision){
						<option value="PRODUCT">Product</option>
					}else{
						<option value="REVISION">Revision</option>
					}
					<option value="DRAFT">Draft</option>
					<option value="REFERENCE_MATERIAL">Reference Material</option>
					<option value="ADDITIONAL_FILE">Additional File</option>
					<option value="OTHER">Other</option>
				</select>
		  </div>
		<div class="col-sm-2 form-group">
		  <input type="submit" class="btn btn-primary" value="Upload file" id = "order-file-form-submit">
		</div>
	 </div>
	      
	  </fieldset>
	}
      </div>
    </div> 
    
    <hr>   
    @if(clientOrders.orderProductFiles.size()>0){
      <h4>Order product uploads</h4> 
	@if(flash.containsKey("orderproductfiledownloaderror")){
	  <div class="alert alert-success">
		  @flash.get("orderproductfiledownloaderror")
	  </div>
	}
	<table>
	  <tr>
	    <td><strong> Type </strong></td>
	    <td><strong> From </strong></td>
	    <td><strong> Name </strong>(Click <img src="@routes.Assets.at("images/downloadimg.png")"/> to download)</td>
	    <td><strong> Size </strong></td>
	    <td><strong> Upload date </strong></td>
	  </tr>
	  @for(productFiles <- clientOrders.orderProductFiles){
	  <tr>
	  <!--width="28" height="22"  -->
	    <td> @productFiles.product_file_type.name() </td>
	    <td> @productFiles.owner.name()</td>
	    <td> @productFiles.file_name  <a href="#" title="download" class="product-file-shared-class" id="product-file-@productFiles.id"><img src="@routes.Assets.at("images/downloadimg.png")"/></a></td>
	    <td> @(Math.round((productFiles.file_size).doubleValue()/(1024*1024)*1000)/1000.000) MB</td>
	    <td> @(productFiles.upload_date.getYear()+1900)/@(productFiles.upload_date.getMonth()+1)/@productFiles.upload_date.getDate() 		@productFiles.upload_date.getHours():@productFiles.upload_date.getMinutes()</td>
	  </tr>
	  }	  
	 </table>
	}
	}else{
		<div class="alert alert-danger">Order not found.</div>
	}

}else{
		<div class="alert alert-danger">Order not found.</div>
}	
</div>
}