@(field: Field, label: String = "CHANGEME", optionMap: Map[Integer, Boolean], isDefaultSelect:Boolean=false, isMultiple: Boolean=false, help: String = "", divClass:String="col-sm-10", default:String="Please select a value")

  <div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-3 control-label" for="@field.id">@label</label>
    <div class="@divClass">
      <select
        class="form-control input-sm"
        id="@field.id"
        name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
        @if(isMultiple) {multiple="multiple"}>
        @if(isDefaultSelect) {<option class="blank" value="">@default</option>}
        @for((optionName, isSelected) <- optionMap) {
          <option id="@optionName" value="@optionName" @if(isSelected) {selected}>@optionName</option>
        }
      </select>
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
