@(field: Field, label: String = "CHANGEME", optionMap: Map[String, Boolean], isMultiple: Boolean, help: String = "", default: String="Please select a value")

	<div class="form-group">
		<label for="@field.id">@label</label>
		<select  
			class="form-control"
			id="@field.id"
			name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
			@if(isMultiple) {multiple="multiple"}>
			@if(!isMultiple) {<option class="blank" value="">@default</option>}
			@for((optionName, isSelected) <- optionMap) {
			<option id="@optionName" value="@optionName" @if(isSelected) {selected}>@optionName</option>
			}
			<span class="help-block">@help</span>
			<span class="help-block">@{field.error.map { error => error.message }}</span>
		</select>
	</div>
 
