@(title:String)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Timely Essays</title>
	<!-- custom css -->
	<link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("css/mycss.css")" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("css/adminlogin.css")" rel="stylesheet" media="screen">
	<link href="@routes.Assets.at("fontawesome/css/font-awesome.min.css")" rel="stylesheet" media="screen">
	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>    
	<div class="container"><!-- header container  -->
		<div class="page-header"><!-- start of header -->  
	</div><!-- end of header -->
	<!-- Navigation -->
	</div><!-- end of topnavigation container -->
	<div class="container">
	<div class="row"><!-- start of main body row -->
		<div class="container">
			<div id="mainbody"><!-- start of main body -->
				<div class="container"  >
					<div class="row admin-main-content">	
							<!--Start Admin login Form --->
								<div class="container">
									<div class="row">
										<div class="col-sm-8 col-md-6 col-md-offset-3">
																	@if(flash.containsKey("success")){
																		<div class="alert alert-success text-center">
																			@flash.get("success")
																		</div>
																	}
																	
																	@if(flash.containsKey("error")){
																		<div class="alert alert-danger text-center">
																			@flash.get("error")
																		</div>
																	}
											<h1 class="text-center login-title">Sign in to continue to Timely Essay</h1>
																	
												<div class="account-wall">
												@helper.form(action=controllers.admincontrollers.routes.Application.authenticate(), 'class->"form-signin"){	
														<input type="text" class="form-control" placeholder="Email" name="email" id="email" required autofocus>
														<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
														<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
												}
												</div>
										</div>
									</div>
								</div>
							<!--End Admin Login Form -->
					</div> <!-- /.row -->    
				</div><!-- /.container -->
			</div><!-- end of main body column -->
		</div><!--end of container-->
	</div><!-- end of main body row -->
	</div>
	<!---->
	<div class="container">
		<footer class="text-center">
			<div class="footer-below">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
						<h3>Social media</h3>
						<ul class="list-inline intro-social-buttons">
							<li><a href="https://twitter.com" ><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>	</li>
							<li><a href="https://facebook.com"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>	</li>
							<li><a href="https://facebook.com"><i class="fa  fa-google-plus fa-fw"></i> <span class="network-name"></span></a>	</li>
							<li><a href="https://www.linkedin.com/"><i class="fa  fa-linkedin fa-fw"></i> <span class="network-name"></span></a>	</li>
						</ul>   
							Copyright &copy;Timely Essay 2014
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="row">
		</div>
	</div> 
	
	<!--End Scripts -->
	<script src="@routes.Assets.at("js/jquery/jquery.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

	<script src="@routes.Assets.at("js/admin.js")" type="text/javascript"></script>

	<!--End Scripts -->
	
</body>
</html>
